<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1594396555192-a411562137eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1>SOS MAGIE</h1>
    <p> Il n'y a pas de problème, que des solutions.</p>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="cards">
      <% @love_services.each do |love_service| %>
        <%= link_to service_path(love_service) do %>
          <%= render 'services/card', service: love_service %>
        <% end %>
      <% end %>
    </div>
</div>

    <div class="row">
    <div class="cards">
      <% @theft_services.each do |theft_service| %>
        <%= link_to service_path(theft_service) do %>
          <%= render 'services/card', service: theft_service %>
          <% end %>
        <% end %>
      </div>
    </div>

  <div class="row">
    <div class="cards">
      <% @conflict_services.each do |conflict_service| %>
        <%= link_to service_path(conflict_service) do %>
          <%= render 'services/card', service: conflict_service %>
          <% end %>
        <% end %>
      </div>
  </div>

  <div class="row">
    <div class="cards">
      <% @money_services.each do |money_service| %>
        <%= link_to service_path(money_service) do %>
          <%= render 'services/card', service: money_service %>
          <% end %>
        <% end %>
      </div>
</div>
