<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551029506-0807df4e2031?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1934&q=80);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-primary" href="#">Apply now</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <h3>Catégorie Love<h3>
    <% @love_services.each do |love_service| %>
      <div class="card_tags">
        <%= love_service.name %>
        <span> <%= love_service.price %> €<span>
      </div>
    <% end %>
  </div>

  <div class="row">
    <h3>Catégorie Theft<h3>
    <% @theft_services.each do |theft_service| %>
      <div class="card_tags">
        <%= theft_service.name %>
        <span> <%= theft_service.price %> €<span>
      </div>
    <% end %>
  </div>

  <div class="row">
    <h3>Catégorie Conflict<h3>
    <% @conflict_services.each do |conflict_service| %>
      <div class="card_tags">
        <%= conflict_service.name %>
        <span> <%= conflict_service.price %> €<span>
      </div>
    <% end %>
  </div>

<div class="row">
    <h3>Catégorie Money<h3>
    <% @money_services.each do |money_service| %>
      <div class="card_tags">
        <%= money_service.name %>
        <span> <%= money_service.price %> €<span>
      </div>
    <% end %>
  </div>
</div>
