<div class= "banner">

</div>

<div class= "container">
	<div class= "box-shadow">
		<h1>Créer un nouveau service<h1>

		<%= simple_form_for(@service) do |f| %>
		<p><%= f.label :name %></p>
		<p><%= f.text_field :name %></p>
		<p><%= f.input :category, collection: Service::CATEGORIES %></p>
		<p><%= f.label :description %></p>
		<p><%= f.text_field :description %></p>
		<p><%= f.submit %></p>
		<% end %>
	</div>
</div>


