<div class= "container">
	<div class= "col-6 offset-5">
		<div class= "box-shadow">
			<h1> Réservez un service <h1>

			<%= simple_form_for(@reservation) do |f| %>
				<%= f.input :return_date, placeholder: 'return-date' %>
                <%= f.input :rental_date, placeholder: 'rental_date' %>
				<%= f.submit class: 'btn btn-primary' %>
			<% end %>

			<%= link_to 'Back to home', '/', class: 'btn btn-outline-primary' %>
		</div>
	</div>
</div>