<div class= "container">
	<div class= "col-6 offset-5">
		<div class= "box-shadow">
			<h1> Réservez un service <h1>

			<%= simple_form_for([@service, @reservation]) do |f| %>
				<%= f.input :return_date, label: false, placeholder: 'return-date', html5: true %>
                <%= f.input :rental_date, label: false, placeholder: 'rental_date', html5: true %>
				<%= f.submit class: 'btn btn-primary' %>
			<% end %>

			<%= link_to 'Back to home', '/', class: 'btn btn-outline-primary' %>
		</div>
	</div>
</div>